<!doctype html>
<html>
  <head>
    <title><%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopData.shopName%> weather reporter</h1>
    <form method="GET" action="result">
        <p>city: <input id="city" type="text" name="city"/></p>
        <input type="submit" value="find forecast!"/>
    </form>
  </body>
</html>